extends layout

block content
  h1= "Choose output device"
  div
    form(action='/done' method="post")
        label(for='options') Devices 
        select(name='dropDown', id='')
            each device, i in Devices
                option(value=i)=device
            input(type='submit', value='Submit')
